<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantarium</title>
</head>
<body>

    {% for plant in plants %}
        {{plants.category_name}}
        {{plants.plant_img}}
        {{plants.plant_name}}
        {{plants.plant_description}}
        {{plants.plant_advice}}
        {{plants.plant_place}}
    {% endfor %}
    
</body>
</html>